{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
    <title>Details</title>
</head>
<body>

<h2><a href="{% url 'music:index' %}">Home</a></h2>

<img src="{{ album.album_logo }}" height="260" width="260">

{% if album.song_set.all %}

    {% if error_message %}
        <p><strong> {{ error_message }} </strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    ***
                {% endif %}
            </label><br>
        {% endfor %}
        <input type="submit" value="Favorite">
    </form>

{% else %}
    <h2>You've got no songs in this album!</h2>
{% endif %}
</body>
</html>