{% extends 'base.html' %}


{% block title %}Calendar{% endblock %}


{% block top_includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css">
    <script src="{{ url_for('static', filename='js/formValidator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}


{% block body %}

    <h1>Manage My Schedule</h1>
    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">Calendar</h2>
        <div id='calendar'></div>
    </div>

    <div class="col-12 col-md-10 col-xl-10 content-div">
        <form class="needs-validation" id="add-event-form" novalidate>
            <h2 class="div-header">Add an Event to Calendar</h2>
            <h5 class="text-danger form-error-message" id="add-event-error-text"></h5>
            <label for="datepicker">Date</label>
            <input id="datepicker" width="276" class="form-control" disabled/>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="title">Event Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Event Title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-7 mb-3">
                    <label for="special">Special</label>
                    <input type="text" class="form-control" id="special" placeholder="Also remember...">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-2 col-xl-1 col-sm-3 mb-1">
                    <label for="hour">Hour</label>
                    <input type="text" class="form-control" id="hour" required>
                    <div class="invalid-feedback">
                        Please provide the hour
                    </div>
                </div>

                <div class="col-md-2 col-xl-1 col-sm-3 mb-1">
                    <label for="minute">Minute</label>
                    <input type="text" class="form-control" id="minute" required>
                    <div class="invalid-feedback">
                        Please provide the minute
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>


    <script>
    $(document).ready(function(){

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            navLinks: true,
            defaultDate: '{{ date }}',
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for event in events %}
                {
                    title: '{{ event["title"] }}',
                    start: '{{ event["start"] }}'
                },
                {% endfor %}
            ]
        });

    });
    </script>


{% endblock %}