{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block top_includes %}
{% endblock %}


{% block body %}

    <h1>Tech 4 Boomerz</h1>


    <div class="col-12 col-md-10 col-xl-10 content-div">
        <table>
            <tr>
                <th>Student Name</th>
                <th>Browsers att</th>
                <th>Browsers HW</th>
                <th>Outlook att</th>
                <th>Outlook HW</th>
                <th>MS Word(1) att</th>
                <th>MS Word(1) HW</th>
                <th>MS Word(2) att</th>
                <th>MS Word(2) HW</th>
                <th>Windows att</th>
                <th>Windows HW</th>
                <th>MS Word (adv) att</th>
                <th>MS Word (adv) HW</th>
            </tr>
            <tr>
                <td>Dad (60)</td>
                <td>10</td>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Billy Joe (72)</td>
                <td>10</td>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Grandpa Bobby (101)</td>
                <td>5</td>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>

{% endblock %}


