{% extends 'base.html' %}

{% block top_includes %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}

    <h1>Welcome to The Real Pi!</h1>
    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">
            Who am I?
        </h2>
        <p class="info-text">
            Hello, and welcome! My name is Matthew Niemiec, but you can call me Matt. I am a cybersecurity engineer for
            MITRE, which operates a number of federally funded research and development centers for public security. I
            graduated with my master's degree in Computer Science in December 2020, and have recently embarked on what
            I hope to be a long, thrilling career learning about computer system security. In short - I love computers,
            and I love my job!
        </p>
        <p class="info-text">
            I created this site for a couple of reasons: One is simply to automate some tasks I needed done remotely.
            Another is to showcase to potential employers some of the work that
            I do outside of school and work, as well as to provide some easy access to a few of my achievements.
        </p>
        <h2 class="div-header">
            Exploring
        </h2>
        <p class="info-text">
            Please log in if I
            gave you a username and password (potential employers may go to <a href={{ url_for("employer") }}>
            therealpi.net/employer)</a>. You will see my resume page with my actual resume as well as a
            deeper look into my work and educational experience that one cannot fit on a single page.
            There is also a contact
            page for anyone who wants to get a hold of me for any reason. If you log in, you'll see my Calendar page,
            where I keep track of my schedule and critical events that are coming up. You will also see my admin panel,
            as well as the page I use to call myself when I've lost my phone. If you use the
            employer login, you get the "look but not touch privileges," which means you can see everything, but can't
            change anything. Yes, I know it isn't good security practice. With
            that, you may be asking what this website is made out of.
        </p>
        <h2 class="div-header">
            Technically Speaking...
        </h2>
        <p class="info-text">
            Well, I'm glad you asked! On the technical side of things, The Real Pi is a Flask
            application with a MongoDB database. It runs on a Raspberry Pi in the corner of my room being served by
            Apache, over HTTPS with a certificate from Let's
            Encrypt. The site itself of course runs on HTML, CSS, and Javascript, as well as elements from Bootstrap,
            JQuery/AJAX, Font Awesome, and a few other online libraries that made my life easier. If you are still
            interested after reading that, then please take a look at the
            <a href="https://github.com/MANA624/therealpi">Github repository</a>!
        </p>
        <p class="info-text">
            If that didn't mean anything to you, then know that I wrote this site myself, purely from code. No
            Wordpress, no Wix, no Dreamweaver. Just code. Though I'm more interested in security,
            I love writing software,
            so I tend to do it a lot outside of work and school. But, enough about that!
        </p>
        <p class="info-text">
            With that, I hope you enjoy my site! Best wishes,
        </p>
        <p id="closing">
            Matt
        </p>
    </div>


{% endblock %}