{% extends "base.html" %}


{% block title %}Resume{% endblock %}


{% block top_includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
    <script src="{{ url_for('static', filename='js/resume.js') }}"></script>
{% endblock %}


{% block body %}

    <h1>The Resume Page</h1>
    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">My Resume</h2>
        <p class="info-text">
            It's short. It's sweet. It's the brief summary of my achievements. And you can <a
                href="{{ url_for('return_file', filename='resume.pdf') }}" target="_blank">download it here!</a> Last
                updated Spring 2018
        </p>
    </div>

    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">Extended Work Experience</h2>
        {% if listings %}
        <br/>
        <div class="container">
            <div class="accordion-option">
{#                <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>#}
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for listing in listings %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                        <h4 class="panel-title">
                            <a class="collapsed panel-anchor" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                {{ listing["heading"] }}
                            </a>
                        </h4>
                    </div>

                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                        <div class="panel-body">
                            <p class="job-text"><span class="job-span">Dates worked: </span>{{ listing["dates_worked"] }}</p>
                            <p class="job-text"><span class="job-span">Job Title: </span>{{ listing["job_title"] }}</p>
                            <p class="job-text"><span class="job-span">Job description: </span>
                                {{ listing["job_description"] }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
            <p class="info-text">
                There don't appear to be any jobs in the database. Must have been an error. Sorry about that.
            </p>
        {% endif %}
    </div>

{% endblock %}