{% extends "base.html" %}


{% block title %}Resume{% endblock %}


{% block top_includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
    <script src="{{ url_for('static', filename='js/resume.js') }}"></script>
{% endblock %}


{% block body %}

    <h1>The Resume Page</h1>

    <!-- File downloads and links -->

    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">File Downloads</h2>
        <p class="info-text">
            <a href="{{ url_for('return_file', filename='resume.pdf') }}" target="_blank">Resume</a>.
            Last updated November 2019
        </p>
        <p class="info-text">
            <a href="{{ url_for('return_file', filename='transcript.pdf') }}" target="_blank">Unofficial transcript</a>.
            Includes graduate and undergraduate studies.
        </p>
        <h2 class="div-header">Links</h2>
        <p class="info-text">
            My GitHub portfolio: <a href="https://github.com/MANA624/Portfolio" target="_blank">Click here</a> to see.
        </p>
    </div>

    <!-- Hacking Challenges -->

    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">Hacking Challenges</h2>
        <p class="info-text">
            These are some of the challenges that I've done outside of work and school to hone my security knowledge,
            learn more about systems, and have a little fun!
        </p>

        <div id="hacking-stats" class="col-10 col-md-10 col-xl-10 content-div" >
            <p class="float-right">
                {{ stats["crackmes"] }}   <br>
                {{ stats["cyhi"] }}/3170 <br>
                {{ stats["htb"] }}       <br>
                {{ stats["otw"] }}       <br>
            </p>

            Number of <a href="https://crackmes.one/">crackmes</a> solved:    <br>
            <a href="https://hack.ainfosec.com/">Can You Hack It</a> points:                        <br>
            Number of <a href="https://www.hackthebox.eu/">Hack the Box</a>s pwnd:                  <br>
            Number of <a href="https://overthewire.org/wargames/">Over The Wire</a> Wargames:       <br>

        </div>
    </div>

    <!-- Extended Work Experience -->

    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">Extended Work Experience</h2>
        {% if listings %}
        <br/>
        <div class="container">
            <div class="accordion-option">
{#                <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>#}
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for listing in listings %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                        <h4 class="panel-title">
                            <a class="collapsed panel-anchor" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                {{ listing["job_title"] }} {% if session.admin %} ({{ listing["order"] }}) {% endif %}
                            </a>
                        </h4>
                    </div>

                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                        <div class="panel-body">
                            <p class="job-text"><span class="job-span">Employer: </span>{{ listing["heading"] }}</p>
                            <p class="job-text"><span class="job-span">Dates worked: </span>{{ listing["dates_worked"] }}</p>
                            <p class="job-text"><span class="job-span">Job description: </span>
                                {{ listing["job_description"] }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
            <p class="info-text">
                There don't appear to be any jobs in the database. Must have been an error. Sorry about that.
            </p>
        {% endif %}
    </div>

{% endblock %}
