{% extends "base.html" %}

{% block title %}Challenge{% endblock %}


{% block top_includes %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sharon.css') }}">
    <script src="{{ url_for('static', filename='js/formValidator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sharon.js') }}"></script>
{% endblock %}


{% block body %}

    {% if approved %}
    <h1>Sharon's Challenge</h1>

    <div class="col-12 col-md-10 col-xl-10 content-div">
        <h2 class="div-header">
            Wha... where am I?!
        </h2>
        <p class="info-text">
            Hi! If you're reading this, then that means that I'm on the other side of the world, and that you didn't
            come with me - hopefully neither of those things came as a surprise! But, first of all, let me just say...
            that I really really really really ... really really ... really really like you! So, to show you how much I
            like you, I've created a little game. Sure, it's a little nerdy, though at the time of writing you just
            hacked my dad's dental web site, so you can't say you didn't have it coming (yes, when you read this that
            will have been a long time ago). ANYWAYS... every day I've prepared a little message for you! I won't tell
            you what it is, but I will say that it is three words long, and it's a true statement. If you can find it,
            then you can submit the token number with it, and as you collect more, you'll get prizes!
        </p>

        <h2 class="div-header">
            Instructions
        </h2>
        <p class="info-text">
            The instructions are pretty straightforward, but I won't be here to help you walk through it, so I want to
            be extremely explicit. Check back here every day. Each time there will be a new "challenge" posted, which
            should get slightly harder as the semester goes on. If you follow the instructions, you'll find the phrase
            somewhere, along with a 4-digit code. Enter this code at the bottom of the page, and you'll earn a point.
            After accumulating a certain number of points, you'll unlock a prize. These can be found at the bottom,
            below the submission, in the accordion section. Important! If you miss a day, that submission will close,
            and you will not be able to go back to it! Of course, you have a life, so I'm not expecting you to complete
            the challenge every single day, but just know that there is a time sensitivity to it. The challenge will
            reset at midnight every night. Also, to make things more interesting, you only get 10 tries per challenge.
            So don't go thinking you'll just guess every number now! However, I realize that you have a life, and that
            some of these may not go according to plan, so I gave you five free days, or "freebies" to be used whenever
            you'd like throughout the summer! For these, there's no need to enter anything in the fields, just
            click the "Use Freebie" button. Careful! There's no warning or prompt, so once you click it, it's final!
        </p>

        <h2 class="div-header">
            Personal Note
        </h2>
        <p class="info-text">
            I must say I'm a little shy about doing this. But I'm really nervous about this trip. The strict
            communication policy really makes me nervous, and I won't get to talk to you for the duration of the trip,
            which is by far my least favorite part about it. I know I'm going to miss you like crazy, so if you reading
            this, then just know that I miss you... so, so much. So, I was hoping this could be a personal, geeky way
            to sort of "talk" to you throughout the break. After all, this is straight from the mainframe, and even though
            I don't have any technology with me, I am the mainframe! So, Sharon, I miss you and I like you, and I know
            you feel the same. Please be praying for me during my trip. I ____ ___,
        </p>

        <p id="closing">
            Matt
        </p>
    </div>

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <h2 class="div-header">
            Daily Hint (<span id="freebies">{{ freebies }}</span>/5 Freebies Remaining)
        </h2>
    {% if not error %}
        <p class="info-text">
            {{ description|safe }}

        </p>
        {% if not solved %}
        <form class="needs-validation" id="submit-challenge-form" novalidate>
            <h2 class="div-header" id="title">Submit Daily Token (<span id="tries">{{ tries }}</span>/10 tries remaining)</h2>
            <p class="info-text" id="description">

            </p>

            <div class="form-row" id="submit-form-div">
                <div class="col-md-3 mb-5">
                    <label for="user">Phrase</label>
                    <input type="text" class="form-control" id="phrase" placeholder="Phrase" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <label for="user">Token</label>
                    <input type="text" class="form-control" id="token" placeholder="4 Digit Token" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <button class="btn btn-primary submit-button" type="submit" id="submit-button">Submit</button>
            <button class="btn btn-primary submit-button" type="button" onclick="useFreebie()" id="submit-freebie">Use Freebie</button>
        </form>
    {% else %}
        <h2 class="div-header" id="title">
            Congrats!
        </h2>
        <p class="info-text" id="description">
            You've successfully completed the challenge for the day!
        </p>
    {% endif %}
    {% else %}
        Well... either there was an error, or there's no more challenges, which means I'm home!<br>
        Let's hope it's the latter!
    {% endif %}
    </div>

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <h2 class="div-header">
            Rewards Section
        </h2>
        <p class="info-text">
            You've completed <span id="completed">{{ completed }}</span> out of 45 challenges! <br>
        </p>

        {% if prizes is defined and prizes|length > 0 %}
        <br/>
        <div class="container">
            <div class="accordion-option">
{#                <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>#}
            </div>
            <div class="clearfix"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for prize in prizes %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                        <h4 class="panel-title">
                            <a class="collapsed panel-anchor" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                Prize #{{ loop.index }}
                            </a>
                        </h4>
                    </div>

                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                        <div class="panel-body">
                            <p class="job-text"><span class="job-span">Prize description: </span>
                                {{ prize["description"] }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
            <p class="info-text">
                You don't appear to have unlocked any prizes. Keep at it!
            </p>
        {% endif %}
    </div>

    {% endif %}

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <form class="needs-validation" id="show-pass-form" novalidate>
            <h2 class="div-header">Get Password</h2>

            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="sharon_pass">Message Body</label>
                    <input type="text" class="form-control" id="sharon_pass" placeholder="Your password" required />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <button class="btn btn-primary submit-button" type="submit">Show Password</button>

            <p id="reveal_pass"></p>
        </form>
    </div>

{% endblock %}


