{% extends "base.html" %}

{% block title %}Texting{% endblock %}


{% block top_includes %}
    <script src="{{ url_for('static', filename='js/formValidator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/texting.js') }}"></script>
{% endblock %}


{% block body %}

    <h1>Manage Phone Texts</h1>


    <!-- See existing messages -->

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <h2 class="div-header">Stored Responses</h2>

        {% if session.admin %}
            {% for message in messages1 %}
                {% if message["sender"] == "Matt" %}
                    <p align="right">{{message["body"]}} :<b>{{message["sender"]}} ({{message["date"]}})</b></p>
                {% else %}
                    <p> <b>{{message["sender"]}} ({{message["date"]}}):</b> {{message["body"]}}</p>
                {% endif %}
            {% endfor %}

        {% else %}
        <p> SORRY! You can't see these!!</p>
        {% endif %}

    </div>

    <!--  Add a new challenge  -->

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <form class="needs-validation" id="self-text-form" novalidate>
            <h2 class="div-header">Text Myself</h2>

            <div class="form-row">
                <div class="col-md-8 mb-5">
                    <label for="self_body">Message Body</label>
                    <textarea rows="4" class="form-control" id="self_body" placeholder="Text body" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <button class="btn btn-primary submit-button" type="submit">Send Text</button>
            <button class="btn btn-success submit-button" type="button" onclick="reset_challenges()">Call Myself</button>
        </form>
    </div>

    {% if session.admin %}

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <form class="needs-validation" id="her-text-form" novalidate>
            <h2 class="div-header">Text Sharon</h2>

            <div class="form-row">
                <div class="col-md-8 mb-5">
                    <label for="her_body">Message Body</label>
                    <textarea rows="4" class="form-control" id="her_body" placeholder="Text body" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <button class="btn btn-primary submit-button" type="submit">Send Text</button>
        </form>
    </div>


    <!-- See message history -->

    <div class="col-12 col-md-10 col-xl-10 p-section content-div">
        <h2 class="div-header">Message History</h2>

        {% for message in messages2 %}
            <p> <b>{{message["sender"]}} ({{message["date"]}}):</b> {{message["body"]}}</p>
        {% endfor %}


    </div>

    {% endif %}

{% endblock %}


