h1 {
    text-align: center;
}

.p-section{
    margin: 0 auto;
}

.info-text{
    text-indent: 35px;
}

#closing{
    margin-right: 40px;
    text-align: right;
    font-weight: bold;
    font-size: 1.6em;
}