body {
    background-image: url("../img/circuit.png");
}

main {
    margin: 0 auto 200px auto;
    width: 75%;
    //height: 1000px;
    background-color: darkgray;
    //background-color: #343a40;
    //background-color: white;
}

h1 {
    text-align: center;
    padding: 25px;
    font-size: 3em;
}

#popUpWindow{
    //z-index: 1;
}

#mynav {
    //position: fixed;
    //z-index: 1;
    //width: 100%
}

#alert-box {
    position: fixed;
    z-index: 1;
    /*width: 50%;*/
    right: 20px;
}

#container{
    //background-color: #343a40;
    background-color: white;
}

.corner-icon {
    color:#28a745;
}

.modal {
    //z-index: 2;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

.form-error-message {
    /*margin: 0 auto;*/
    text-align: center;
}

.content-div {
    background-color: #343a40;
    border: solid 4px white;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto 70px auto;
    color: lightgray;
    // display: inline-block;
}

.div-header {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #32CD32;
}
