body {
    background-image: url("../img/circuit.png");
}

main {
    margin: auto;
    margin-bottom: 200px;
    width: 75%;
    //height: 1000px;
    background-color: darkgray;
    //background-color: #343a40;
    //background-color: white;
}

#mynav {
    //position: fixed;
    //z-index: 1;
    //width: 100%
}

.modal {
    //z-index: 2;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

#container{
    //background-color: #343a40;
    background-color: white;
}
