.container {
  max-width: 960px;
}

.panel-default>.panel-heading {
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

.panel {
    padding: 5px;
}

.panel-body {
    padding: 25px;
}

.panel-heading {
    background-color: #565c62;
    border-radius: 10px;
    border: solid #32CD32 1px;
    padding: 200px;
}

.accordion .panel-heading:after {
    font-family: 'FontAwesome', Helvetica, sans-serif;
    content: "\f068";
    float: right;
}
.accordion .panel-heading.collapsed:after {
    content: "\f067";
}

.panel-anchor:hover, .panel-anchor:visited, .panel-anchor:link, .panel-anchor:active
{
    text-decoration: none;
    outline: 0;
    color: white;
}

.job-text {

}

.job-span {
    font-weight: bold;
    font-size: 1.1em;
}

.hidden {
    display: none;
}